@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1496579062109');
    /* IE9*/
    src: url('iconfont.eot?t=1496579062109#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1496579062109') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1496579062109') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1496579062109#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bird:before {
    content: "\e600";
    font-size: 1.5rem;
    color: #fff;
}

.icon-butterfly:before {
    content: "\e699";
    font-size: 1.5rem;
    color: #fff;
}

.icon-flower:before {
    content: "\e61c";
    font-size: 1.5rem;
    color: #fff;
}
