ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ct {
    position: relative;
    width: 860px;
    margin: 0 auto;
    /*background: rgba(0,191,255, 0.5);*/
}

.ct li {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 150px;
    margin: 10px;
    transition: all 1s;
}

.ct img {
    width: 100%;
    border: 1px solid #aaa;
    box-shadow: 5px 5px 3px #aaa;
}
